/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- BEGIN CUSTOM STYLES ---------- */

*{
	font-family: sans-serif;
	line-height: 1.35;
}

#skipLink{
	position: absolute;
	left: -999px;
	height:  0;
	width:  0;
}

#skipLink:focus{
	top: 1em;
	left: 1em;
	display: block;
	font-size: 1.2em;
	padding: 0.5em;
	width: 25%;
	height: 1.5em;
	line-height: 1.3em;
}

a{
	color: #0a58ff;
}

a:focus{
	border: 2px solid #0a58ff;
}

a:hover{
	color: white;
	background-color: #0a58ff;
}

header{
	padding: 2em 0 1em 0;
	border-bottom: 5px solid #0a58ff;
}

h1, h2, h3{
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}

h1{
	font-size: 2em;
	padding: 0.5em;
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0; 
}

nav ul{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

ul li{
	display: inline-block;
}

nav a{
	display: block;
	padding: 1em;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

#particleBackground{
  	width: 100%;
  	height: 300px;
  	background-image: url("https://www.public.asu.edu/~jlbarn11/teaching/cool-background.svg");
  	background-color: rgba(77, 77, 77, 0.2);
  	background-repeat: no-repeat;
  	background-position: right;
	border-bottom: 5px solid #0a58ff;
}

main{
	width: calc(100% - 2em);
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
}

h2{
	font-size: 1.5em;
	margin: 0.5em 0;
}

p{
	width: 100%;
	max-width: 650px;
	margin:  0 auto;
}

section{
	margin: 1em 0;
}

h3{
	font-size: 1.35em;
	margin: 0.5em 0;
}

form{
	width: 90%;
	max-width: 350px;
	margin:  2em auto;
	padding:  0.75em;
	border: 2px solid #777;
	border-radius: 0.2em;
}

input, label, textarea{
	display: block;
	width: calc(100% - 2em);
}

input, textarea, select{
	outline: 1px solid #222;
	border: none;
	border-radius: 0.2em;
}

label{
	font-size: 1.1em;
}

.required{
	color: #c71819;
}

input{
	width: 90%;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
}

input:focus, select:focus, textarea:focus{
	border: 2px inset #0a58ff;
	box-shadow: 0 0 0 0.09em currentColor;
}

input:error, select:error, textarea:error{
	background-color: #c71819;
}

fieldset{
	margin: 0.5em auto;
	padding-bottom: 0.5em;
	width: 94%;
	border: 1px solid #222;
	border-radius: 0.2em;
	display: grid;
	grid-template-columns: 30px 1fr 30px 1fr;
}

legend{
	padding: 0.5em;
}

fieldset label{
	display: inline;
	width: 60%;
}

fieldset input{
	display: inline;
	width: 20px;
}

select{
	display: block;
	width: 95%;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
	font-size: 1em;
}

textarea{
	width: 90%;
	height: 100px;
	margin: 0.25em auto 0.5em auto;
	padding: 0.5em;
}

input[type="radio"]{
	margin-top: 0.4em;
	outline: none;
	border: 1px solid #222;
	border-radius: 25%;
}

input[type="submit"]{
	font-size: 1.2em;
	width: 95%;
	margin-top: 1em;
	padding: 0.5em;
	border: none;
	outline: none;
	border-radius: 0.2em;
	background-color: #0a58ff;
	color: white;
}

input[type="submit"]:hover, input[type="submit"]:focus{
	background-color: #063599;
	filter: drop-shadow(8px 8px 4px #777);
}

footer{
	padding: 1em;
	border-top: 5px solid #0a58ff;
	font-family: sans-serif;
	text-align: center;
}

